<link rel="stylesheet" href="/public/movie.css">

<h1 class="create-movie">Add Actor To Movie</h1>

<form method="POST" action="/administration/addToMovie">
    <div class="row">
        <label>Actor Name</label>
        <input type="text" name="actorName" />
    </div>

    <div class="row">
        <label>Movie Name</label>
        <input type="text" name="movieName" />
    </div>

    <button class="create-btn">Add</button>
</form>