<link rel="stylesheet" href="/public/movie.css">

<h1 class="create-movie">Add News</h1>

<form method="POST" action="/administration/addNews">
    <div class="row">
        <label>Source</label>
        <input type="text" name="source" />
    </div>

    <button class="create-btn">Add</button>
</form>