<div class="slider">
    <ul>
        <button class="btn-left">
            <img src="/public/images/left-arrow.png" />
        </button>

        {{#each slider}}
        <li>
            <a href="/movie/{{_id}}">
                <img src={{imageUrl}}>
            </a>
        </li>
        {{/each}}

        <button class="btn-right">
            <img src="/public/images/right-arrow.png" />
        </button>
    </ul>
</div>