<div class="slider">
    <ul>
        <button class="btn-left">
            <img src="/public/images/left-arrow.png" />
        </button>

        <li>
            <a href="/">
                <img src="https://images-na.ssl-images-amazon.com/images/I/519HUN4odUL.jpg" alt="">
            </a>
        </li>

        <li>
            <a href="/">
                <img src="https://images-na.ssl-images-amazon.com/images/I/519HUN4odUL.jpg" alt="">
            </a>
        </li>

        <li>
            <a href="/">
                <img src="https://images-na.ssl-images-amazon.com/images/I/519HUN4odUL.jpg" alt="">
            </a>
        </li>

        <li>
            <a href="/">
                <img src="https://images-na.ssl-images-amazon.com/images/I/519HUN4odUL.jpg" alt="">
            </a>
        </li>

        <li>
            <a href="/">
                <img src="https://images-na.ssl-images-amazon.com/images/I/519HUN4odUL.jpg" alt="">
            </a>
        </li>

        <li>
            <a href="/">
                <img src="https://images-na.ssl-images-amazon.com/images/I/519HUN4odUL.jpg" alt="">
            </a>
        </li>

        <li>
            <a href="/">
                <img src="https://images-na.ssl-images-amazon.com/images/I/519HUN4odUL.jpg" alt="">
            </a>
        </li>

        <li>
            <a href="/">
                <img src="https://images-na.ssl-images-amazon.com/images/I/519HUN4odUL.jpg" alt="">
            </a>
        </li>

        <li>
            <a href="/">
                <img src="https://images-na.ssl-images-amazon.com/images/I/519HUN4odUL.jpg" alt="">
            </a>
        </li>

        <button class="btn-right">
            <img src="/public/images/right-arrow.png" />
        </button>
    </ul>
</div>