<div class="user-container">
    <form method="POST" action="/login">
        <div class="row">
            <label>Username</label>
            <input type="text" name="username" placeholder="Enter your username" />
        </div>

        <div class="row">
            <label>Password</label>
            <input type="password" name="password" placeholder="Enter your password" />
        </div>

        <input class="btn-input" type="submit" value="Login" />
    </form>
</div>