.details {
  background-color: gainsboro;
  max-width: 70%;
  margin: 20px auto;
}

.details p {
  max-width: 60%;
  padding: 15px;
}

.details-movie {
  margin: 50px 15px;
}

.details-movie h1 {
  margin-bottom: 8px;
}

.details img {
  float: left;
  width: 150px;
  height: 170px;
  margin-right: 15px;
}

@media only screen and (max-width: 600px) {
  .details {
    max-width: 140%;
  }
}
