* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  background: #233432;
  font-family: "Helvetica", Arial, Helvetica, Sans-serif, Verdana;
}

.site {
  margin: 10px 100px;
}

.logo > img {
  width: 100px;
  margin: 0px 26px;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  margin: 12px;
  align-items: center;
  background: #314a50;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  padding: 12px;
}
li {
  list-style-type: none;
  margin: 10px;
}

li a {
  text-decoration: none;
  color: white;
}

.slider ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.slider img {
  width: 120px;
  height: 120px;
}

.btn-left,
.btn-right {
  width: 30px;
  height: 40px;
  align-self: center;
}

.btn-left > img,
.btn-right > img {
  width: 30px;
  height: 35px;
}

.movie-container {
  background-color: #505050;
  display: flex;
  flex-wrap: wrap;
  margin: 4px;
  justify-content: center;
}

.movie {
  background: darkgray;
  width: 287px;
  height: 260px;
  margin: 8px;
  text-align: center;
}

.movie h1 {
  text-align: center;
}

.movie img {
  width: 80px;
  height: 130px;
  display: block;
  margin: 8px auto 14px auto;
  width: 50%;
}

.details-btn-container {
  text-align: center;
}

.details-btn {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  padding: 8px;
  background-color: #ffa000;
  color: white;
  text-decoration: none;
  border-radius: 30px;
}

.btn-primary {
  font-family: Arial, Helvetica, sans-serif;
  padding: 3px;
  background-color: #007bff;
  border-radius: 5px;
  margin: 8px;
  width: 81px;
  height: 30px;
}

.btn-primary a {
  color: white;
}

.title {
  text-align: center;
  color: white;
}

.container form {
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.genre {
  margin: 0px 12px;
}

.search {
  margin: 8px;
  padding: 3px 8px;
  background-color: rgb(27, 51, 51);
  border-radius: 8px;
  color: white;
}

@media only screen and (max-width: 600px) {
  .search input {
    width: 130px;
  }

  .slider {
    display: none;
  }
}
