* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif "Courier New", Courier,
    monospace;
}

.logo img {
  width: 3em;
  position: relative;
  top: 2px;
  left: 20px;
}

nav {
  background-color: crimson;
  max-height: 40%;
}

nav,
ul {
  display: flex;
}

ul {
  margin: auto;
}

li {
  padding: 8px;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.auth {
  display: flex;
  align-self: center;
}

.auth button {
  width: 7em;
  height: 2em;
  margin-right: 10px;
  background-color: #007bff;
}

.movie-container .movie div a img {
  width: 10em;
  height: 10em;
}

.movie-section-container {
  display: flex;
}

.movie-container {
  display: flex;
  align-self: flex-start;
  margin: 50px auto;
  flex-wrap: wrap;
}

.movie {
  width: 20%;
  margin: 15px;
}

.genre {
  width: 80px;
}

.genres {
  background-color: crimson;
}

.genres .container {
  display: flex;
  align-items: flex-start;
  height: 100vh;
}

.container form {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding-bottom: 200px;
  padding-right: 50px;
  padding-left: 2px;
}

h1 {
  font-size: 16px;
}

label {
  color: white;
}

.news {
  display: flex;
  flex-wrap: wrap;
}

.heading {
  font-size: 16px;
}

.description {
  color: black;
}

.search {
  border-radius: 26%;
  margin-left: auto;
  margin-top: 10px;
  padding: 5px;
}

@media only screen and (max-width: 600px) {
  .logo img {
    display: none;
  }

  .auth button {
    width: 5.5em;
    height: 2em;
  }

  .movie-container {
    flex-direction: column;
  }
  h1 {
    font-size: 20px;
    width: 210px;
  }

  .news {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .curent a img {
    width: 340px;
  }

  div.details h1 {
    width: 100%;
  }

  div.details img {
    margin-right: 30px;
    width: 14em;
  }

  h6.heading {
    font-size: 20px;
  }

  div.details p {
    max-width: 96%;
  }
}
