<link rel="stylesheet" href="/public/movie.css">

<h1 class="create-movie">Add Actor</h1>

<form method="POST" action="/actors/add">
    <div class="row">
        <label>Name</label>
        <input type="text" name="name" />
    </div>

    <div class="row">
        <label>Image URL</label>
        <input type="text" name="image" />
    </div>

    <div class="row">
        <label>Movies</label>
        <input type="text" name="movies" />
    </div>

    <button class="create-btn">Add</button>
</form>