{{> slider}}

<section class="genres">
    <div class="container">
        <div class="genre">
            <input type="checkbox" />
            <label>Action</label>
        </div>
        <div class="genre">
            <input type="checkbox" />
            <label>Comedy</label>
        </div>
        <div class="genre">
            <input type="checkbox" />
            <label>Horror</label>
        </div>
        <div class="genre">
            <input type="checkbox" />
            <label>Fantastic</label>
        </div>
        <div class="genre">
            <input type="checkbox" />
            <label>Animation</label>
        </div>
        <div class="genre">
            <input type="checkbox" />
            <label>Romantic</label>
        </div>
    </div>
</section>

<div class="movie-container">
    {{#each movies}}
    <div class="movie">
        <div>
            <h1 class="title">{{name}}</h1>
        </div>
        <div>
            <a href='/movie/{{_id}}'>
                <img src={{imageUrl}} />
            </a>
            <a href='/movie/{{_id}}' class="details-btn">Details</a>
        </div>
    </div>
    {{/each}}
</div>