{{> slider}}

<div class="movie-container">
    <div class="movie">
        <img
            src="https://m.media-amazon.com/images/M/MV5BMTM5MjI5N2YtNTRjOS00Mzk1LTlmODAtZTJmZjQ5NzNhODNkXkEyXkFqcGdeQXVyNTIwMDQ0NA@@._V1_UY1200_CR90,0,630,1200_AL_.jpg" />
    </div>

    <div class="movie">
        <img src="https://upload.wikimedia.org/wikipedia/en/b/b8/OutsideTheWire.jpeg" />
    </div>

    <div class="movie">
        <img
            src="https://m.media-amazon.com/images/M/MV5BMTM5MjI5N2YtNTRjOS00Mzk1LTlmODAtZTJmZjQ5NzNhODNkXkEyXkFqcGdeQXVyNTIwMDQ0NA@@._V1_UY1200_CR90,0,630,1200_AL_.jpg" />
    </div>

    <div class="movie">
        <img src="https://upload.wikimedia.org/wikipedia/en/b/b8/OutsideTheWire.jpeg" />
    </div>

    <div class="movie">
        <img
            src="https://m.media-amazon.com/images/M/MV5BMTM5MjI5N2YtNTRjOS00Mzk1LTlmODAtZTJmZjQ5NzNhODNkXkEyXkFqcGdeQXVyNTIwMDQ0NA@@._V1_UY1200_CR90,0,630,1200_AL_.jpg" />
    </div>

    <div class="movie">
        <img src="https://upload.wikimedia.org/wikipedia/en/b/b8/OutsideTheWire.jpeg" />
    </div>

    <div class="movie">
        <img
            src="https://m.media-amazon.com/images/M/MV5BMTM5MjI5N2YtNTRjOS00Mzk1LTlmODAtZTJmZjQ5NzNhODNkXkEyXkFqcGdeQXVyNTIwMDQ0NA@@._V1_UY1200_CR90,0,630,1200_AL_.jpg" />
    </div>

    <div class="movie">
        <img src="https://upload.wikimedia.org/wikipedia/en/b/b8/OutsideTheWire.jpeg" />
    </div>

    <div class="movie">
        <img
            src="https://m.media-amazon.com/images/M/MV5BMTM5MjI5N2YtNTRjOS00Mzk1LTlmODAtZTJmZjQ5NzNhODNkXkEyXkFqcGdeQXVyNTIwMDQ0NA@@._V1_UY1200_CR90,0,630,1200_AL_.jpg" />
    </div>

    <div class="movie">
        <img src="https://upload.wikimedia.org/wikipedia/en/b/b8/OutsideTheWire.jpeg" />
    </div>

    <div class="movie">
        <img
            src="https://m.media-amazon.com/images/M/MV5BMTM5MjI5N2YtNTRjOS00Mzk1LTlmODAtZTJmZjQ5NzNhODNkXkEyXkFqcGdeQXVyNTIwMDQ0NA@@._V1_UY1200_CR90,0,630,1200_AL_.jpg" />
    </div>

    <div class="movie">
        <img src="https://upload.wikimedia.org/wikipedia/en/b/b8/OutsideTheWire.jpeg" />
    </div>

    <div class="movie">
        <img
            src="https://m.media-amazon.com/images/M/MV5BMTM5MjI5N2YtNTRjOS00Mzk1LTlmODAtZTJmZjQ5NzNhODNkXkEyXkFqcGdeQXVyNTIwMDQ0NA@@._V1_UY1200_CR90,0,630,1200_AL_.jpg" />
    </div>

    <div class="movie">
        <img src="https://upload.wikimedia.org/wikipedia/en/b/b8/OutsideTheWire.jpeg" />
    </div>

    <div class="movie">
        <img
            src="https://m.media-amazon.com/images/M/MV5BMTM5MjI5N2YtNTRjOS00Mzk1LTlmODAtZTJmZjQ5NzNhODNkXkEyXkFqcGdeQXVyNTIwMDQ0NA@@._V1_UY1200_CR90,0,630,1200_AL_.jpg" />
    </div>

    <div class="movie">
        <img src="https://upload.wikimedia.org/wikipedia/en/b/b8/OutsideTheWire.jpeg" />
    </div>

    <div class="movie">
        <img
            src="https://m.media-amazon.com/images/M/MV5BMTM5MjI5N2YtNTRjOS00Mzk1LTlmODAtZTJmZjQ5NzNhODNkXkEyXkFqcGdeQXVyNTIwMDQ0NA@@._V1_UY1200_CR90,0,630,1200_AL_.jpg" />
    </div>

    <div class="movie">
        <img src="https://upload.wikimedia.org/wikipedia/en/b/b8/OutsideTheWire.jpeg" />
    </div>
</div>