{{> slider}}

<div class="movie-container">
    {{#each movies}}
    <div class="movie">
        <div>
            <h1 class="title">{{name}}</h1>
        </div>
        <div>
            <a href='/movie/{{id}}'>
                <img src={{imageUrl}} />
            </a>
        </div>
    </div>
    {{/each}}
</div>