<link rel="stylesheet" href="../../public/getById.css">

<div class="details">
    <h1>{{movie.name}}</h1>
    <p>{{movie.descrption}}</p>
    <p>{{movie.year}}</p>

    <img src={{movie.imageUrl}} />
</div>