<link rel="stylesheet" href="/public/layout.css" />


<ul class="news">
    {{#each news}}
    <li class="curent">
        <a href="/news/{{_id}}">
            <img src="{{image}}">
        </a>
        <h6 class="heading">{{title}}</h6>
    </li>
    {{/each}}
</ul>